<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block page_title %}
        Quiz
        {% endblock page_title %}
    </title>

    {% block header_tags %}

    {% endblock header_tags %}

</head>

<body>
    {% block content %}

    {% endblock content %}

    <script> MathJax = { loader: { load: ['input/asciimath', 'output/chtml'] } } </script>
    <script defer type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/startup.js"></script>
</body>

</html>