{% load tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% tailwind_css %}

    <title>
        {% block page_title %}
        Quiz
        {% endblock page_title %}
    </title>
    {% block header_tags %}

    {% endblock header_tags %}
</head>

<body class="bg-gray-100">
    {% include 'site/partials/header.html' %}

    <div class="p-10">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}

        {% block content %}

        {% endblock content %}
    </div>

    <!-- <div class="text-center"> Footer </div> -->
    {% block extra_scripts %}

    {% endblock extra_scripts %}
    <script>
        MathJax = {
            loader: {
                load: ['input/asciimath', 'output/chtml']
            }
        }
    </script>
    <script defer type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/startup.js">
    </script>
    <script>
        const button = document.querySelector('#header-menu-button');
        const menu = document.querySelector('#header-menu');

        document.querySelector('#header-menu-button').addEventListener('click', () => menu.classList.toggle('hidden'));
    </script>
</body>

</html>